session_service.wsdl

<?xml version='1.0' encoding='UTF-8'?><?xml-stylesheet type='text/xsl' href='wsdl-viewer.xsl'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="namespace.esf" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SessionService" targetNamespace="namespace.esf">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="namespace.esf" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="namespace.esf">
  <xs:complexType name="CreateSessionRequest">
    <xs:complexContent>
      <xs:extension base="tns:AbstractSessionRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="AbstractSessionRequest">
    <xs:sequence>
      <xs:element name="tin" type="xs:string">
        <xs:annotation>
          <xs:documentation>БИН предприятия от имени которого действует пользователь</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="x509Certificate" type="xs:string">
        <xs:annotation>
          <xs:documentation>PEM строковое представление (Base64 Encoded) X.509 сертификата, выданного удостоверяющим центром для прохождения процедур аутентификации и авторизации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateSessionResponse">
    <xs:sequence>
      <xs:element name="sessionId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Идентификатор сессии (строка длиной 128-бит)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccessDeniedFault">
    <xs:annotation>
      <xs:documentation>При отсутствии у пользователя прав на выполнение данной операции</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessFault">
    <xs:annotation>
      <xs:documentation>При возникновении ошибки в ПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrentUserRequest">
    <xs:complexContent>
      <xs:extension base="tns:AbstractSessionRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CurrentUserResponse">
    <xs:sequence>
      <xs:element name="user" type="tns:User">
        <xs:annotation>
          <xs:documentation>Объект представляющий информацию о текущем пользователе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="User">
    <xs:annotation>
      <xs:documentation>Объект представляющий информацию о текущем пользователе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="login" type="xs:string">
        <xs:annotation>
          <xs:documentation>ИИН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="email" type="xs:string">
        <xs:annotation>
          <xs:documentation>Адрес электронной почты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="issueDate" type="xs:string">
        <xs:annotation>
          <xs:documentation>Дата выдачи удостоверяющего документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="issuedBy" type="xs:string">
        <xs:annotation>
          <xs:documentation>Кем выдан удостоверяющий документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="passportNum" type="xs:string">
        <xs:annotation>
          <xs:documentation>Номер удостоверяющего документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="tns:UserStatusType">
        <xs:annotation>
          <xs:documentation>Статус текущего пользователя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="reason" type="xs:string">
        <xs:annotation>
          <xs:documentation>Причина блокировки пользователя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="enterpriseEntries" type="tns:BusinessUser">
        <xs:annotation>
          <xs:documentation>Объект-связка пользователя с предприятием от имени которого он действует</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxpayer" type="tns:Taxpayer">
        <xs:annotation>
          <xs:documentation>Информация о пользователе полученная из ЕХД</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessUser">
    <xs:annotation>
      <xs:documentation>Объект-связка пользователя с предприятием от имени которого он действует</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iin" type="xs:string">
        <xs:annotation>
          <xs:documentation>ИИН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tin" type="xs:string">
        <xs:annotation>
          <xs:documentation>БИН предприятия от имени которого может действовать пользователь</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="tns:Permission">
        <xs:annotation>
          <xs:documentation>Права пользователя в рамках данного предприятия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="businessProfileType" type="tns:BusinessProfileType">
        <xs:annotation>
          <xs:documentation>Тип пользователя определяющий полномочия в рамках данного предприятия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="actsOnTheBasis" type="xs:string">
        <xs:annotation>
          <xs:documentation>Основание для совершения действий</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="status" type="tns:UserStatusType">
        <xs:annotation>
          <xs:documentation>Статус пользователя в рамках данного предприятия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="reason" type="xs:string">
        <xs:annotation>
          <xs:documentation>Причина блокировки пользователя в рамках данного предприятия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Дата окончания действия доверенности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="updateDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Дата начала действия доверенности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="enterpriseTaxpayerInfo" type="tns:Taxpayer">
        <xs:annotation>
          <xs:documentation>Информация о предприятии, полученная из ЕХД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="branches" nillable="true" type="tns:BusinessUser">
        <xs:annotation>
          <xs:documentation>Список филиалов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Taxpayer">
    <xs:annotation>
      <xs:documentation>Налогоплательщик</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="tin" type="xs:string">
        <xs:annotation>
          <xs:documentation>ИИН/БИН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nameRu" type="xs:string">
        <xs:annotation>
          <xs:documentation>Наименование на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lastNameRu" type="xs:string">
        <xs:annotation>
          <xs:documentation>Фамилия на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="firstNameRu" type="xs:string">
        <xs:annotation>
          <xs:documentation>Имя на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="middleNameRu" type="xs:string">
        <xs:annotation>
          <xs:documentation>Отчество на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lastNameKz" type="xs:string">
        <xs:annotation>
          <xs:documentation>Фамилия на казахском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="firstNameKz" type="xs:string">
        <xs:annotation>
          <xs:documentation>Имя на казахском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="middleNameKz" type="xs:string">
        <xs:annotation>
          <xs:documentation>Отчество на казахском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nameKz" type="xs:string">
        <xs:annotation>
          <xs:documentation>Наименование на казахском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="addressRu" type="xs:string">
        <xs:annotation>
          <xs:documentation>Адрес на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="addressKz" type="xs:string">
        <xs:annotation>
          <xs:documentation>Адрес на казахском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="certificateSeries" type="xs:string">
        <xs:annotation>
          <xs:documentation>Cерия свидетельства плательщика НДС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="certificateNum" type="xs:string">
        <xs:annotation>
          <xs:documentation>Номер свидетельства плательщика НДС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="resident" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Является ли налогоплательщик резидентом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="headOffice" type="tns:Taxpayer">
        <xs:annotation>
          <xs:documentation>Головной офис предприятия </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="type" type="tns:EnterpriseType">
        <xs:annotation>
          <xs:documentation>Тип налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="accounts">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="settlementAccount" type="tns:SettlementAccount">
              <xs:annotation>
                <xs:documentation>Банковский счет</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="enterpriseAdministrator" type="xs:string">
        <xs:annotation>
          <xs:documentation>ИИН директора предприятия</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementAccount">
    <xs:annotation>
      <xs:documentation>Банковский счет</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:documentation>Идентификатор счёта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="taxpayerTin" type="xs:string">
        <xs:annotation>
          <xs:documentation>ИИН налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bank" type="tns:Bank">
        <xs:annotation>
          <xs:documentation>Банковские реквизиты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="accountType" type="xs:int">
        <xs:annotation>
          <xs:documentation>Тип счёта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="account" type="xs:string">
        <xs:annotation>
          <xs:documentation>Счёт (ИИК)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dateOpen" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Дата открытия счёта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dateClose" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Дата закрытия счёта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Bank">
    <xs:annotation>
      <xs:documentation>Банковские реквизиты</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:documentation>Идентификатор банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nameRu" type="xs:string">
        <xs:annotation>
          <xs:documentation>Наименование банка на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nameKz" type="xs:string">
        <xs:annotation>
          <xs:documentation>Наименования банка на казахском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bik" type="xs:string">
        <xs:annotation>
          <xs:documentation>БИК банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="code" type="xs:string">
        <xs:annotation>
          <xs:documentation>Код банка (БИК старого формата)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tin" type="xs:string">
        <xs:annotation>
          <xs:documentation>БИН банка как ЮЛ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rnn" type="xs:string">
        <xs:annotation>
          <xs:documentation>РНН банка как ЮЛ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="active" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Статус банка</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CloseSessionRequest">
    <xs:complexContent>
      <xs:extension base="tns:AbstractSessionRequest">
        <xs:sequence>
          <xs:element name="sessionId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Идентификатор закрываемой сессии</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CloseSessionResponse">
    <xs:sequence>
      <xs:element name="sessionId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Идентификатор закрытой сессии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UserStatusType">
    <xs:annotation>
      <xs:documentation>Статус пользователя</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE">
        <xs:annotation>
          <xs:documentation>Активный</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLOCKED">
        <xs:annotation>
          <xs:documentation>Заблокированный администратором системы</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ENTERPRISE_ADMIN_CHANGE_BLOCKED">
        <xs:annotation>
          <xs:documentation>Заблокированный при смене руководителя предприятия</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Permission">
    <xs:annotation>
      <xs:documentation>Права пользователя</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="INVOICE_VIEW">
        <xs:annotation>
          <xs:documentation>Просмотр СФ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INVOICE_CREATE_REGULAR">
        <xs:annotation>
          <xs:documentation>Создание СФ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INVOICE_CREATE_FIXED">
        <xs:annotation>
          <xs:documentation>Создание исправленного СФ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INVOICE_CREATE_ADDITIONAL">
        <xs:annotation>
          <xs:documentation>Создание дополнительного СФ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INVOICE_REVOKE">
        <xs:annotation>
          <xs:documentation>Отзыв СФ</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DRAFT_CREATE">
        <xs:annotation>
          <xs:documentation>Создание черновика</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BusinessProfileType">
    <xs:annotation>
      <xs:documentation>Тип пользователя</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMIN_ENTERPRISE">
        <xs:annotation>
          <xs:documentation>Руководитель юридического лица</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="USER">
        <xs:annotation>
          <xs:documentation>Пользователь приглашенный в предприятие</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ENTREPRENEUR">
        <xs:annotation>
          <xs:documentation>Индивидуальный предприниматель</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EnterpriseType">
    <xs:annotation>
      <xs:documentation>Тип налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOT_SET">
        <xs:annotation>
          <xs:documentation>Отсутствует в справочнике</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INDIVIDUAL">
        <xs:annotation>
          <xs:documentation>Физическое лицо</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INDIVIDUAL_ENTREPRENEUR">
        <xs:annotation>
          <xs:documentation>Индивидуальный предприниматель</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PRIVATE_ENTERPRISE">
        <xs:annotation>
          <xs:documentation>Частное предприятие</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="STATE_ENTERPRISE">
        <xs:annotation>
          <xs:documentation>Государственное предприятие/учреждение</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="accessDeniedException" nillable="true" type="tns:AccessDeniedFault"/>
  <xs:element name="businessException" nillable="true" type="tns:BusinessFault"/>
  <xs:element name="createSessionRequest" nillable="true" type="tns:CreateSessionRequest"/>
  <xs:element name="createSessionResponse" nillable="true" type="tns:CreateSessionResponse"/>
  <xs:element name="currentUserRequest" nillable="true" type="tns:CurrentUserRequest"/>
  <xs:element name="currentUserResponse" nillable="true" type="tns:CurrentUserResponse"/>
  <xs:element name="closeSessionRequest" nillable="true" type="tns:CloseSessionRequest"/>
  <xs:element name="closeSessionResponse" nillable="true" type="tns:CloseSessionResponse"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createSession">
    <wsdl:part element="tns:createSessionRequest" name="createSessionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="closeSession">
    <wsdl:part element="tns:closeSessionRequest" name="closeSessionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUser">
    <wsdl:part element="tns:currentUserRequest" name="currentUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="closeSessionResponse">
    <wsdl:part element="tns:closeSessionResponse" name="closeSessionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part element="tns:currentUserResponse" name="currentUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccessDeniedException">
    <wsdl:part element="tns:accessDeniedException" name="AccessDeniedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BusinessException">
    <wsdl:part element="tns:businessException" name="BusinessException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSessionResponse">
    <wsdl:part element="tns:createSessionResponse" name="createSessionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SessionService">
<wsdl:documentation>Сервис аутентификации</wsdl:documentation>
    <wsdl:operation name="createSession">
<wsdl:documentation>Создать сессию на ESB, необходимую для работы с бизнес методами</wsdl:documentation>
      <wsdl:input message="tns:createSession" name="createSession">
    </wsdl:input>
      <wsdl:output message="tns:createSessionResponse" name="createSessionResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AccessDeniedException" name="AccessDeniedException">
    </wsdl:fault>
      <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUser">
<wsdl:documentation>Вернуть информацию о текущем пользователе</wsdl:documentation>
      <wsdl:input message="tns:getUser" name="getUser">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AccessDeniedException" name="AccessDeniedException">
    </wsdl:fault>
      <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closeSession">
<wsdl:documentation>Закрыть сессию, созданную на ESB для работы с бизнес методами</wsdl:documentation>
      <wsdl:input message="tns:closeSession" name="closeSession">
    </wsdl:input>
      <wsdl:output message="tns:closeSessionResponse" name="closeSessionResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AccessDeniedException" name="AccessDeniedException">
    </wsdl:fault>
      <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionServiceSoapBinding" type="tns:SessionService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createSession">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createSession">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createSessionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closeSession">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="closeSession">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="closeSessionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionService">
    <wsdl:port binding="tns:SessionServiceSoapBinding" name="SessionServicePort">
      <soap:address location="https://92.46.122.150:8443/esf-web/ws/SessionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>